<div class="row mt-4">
  <div class="col-md-9 col-xs-12">
    <div class="row ">
      <div class="col-md-12 mb-4" *ngFor="let course of coursesObservable | async">
        <div class="card">
          <div class="card-body">
            <div class="card-img-overlay  mr-2 mt-2" *ngIf="siteAdmin">
              <button class=" delete " (click)="editPost(course)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="  delete " (click)="removePost(course)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>

            </div>
            <h5 class="card-title">{{course.title}}</h5>

            <div class="card-text" [innerHtml]="course.description"></div>
            </div>
          <div class="card-footer text-muted">

            <div class="row">
              <div class="col-7">
                <p class="card-text">
                  <small class="text-muted">
                    <i class="fa fa-user" aria-hidden="true"></i> {{course.author}} </small>
                </p>
              </div>
              <div class="col-5">
                <p class="card-text text-right">
                  <small class="text-muted">
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{course.time | date }}</small>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-3 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category</h5>
        <ul class="list-group list-group-flush">

          <li class="list-group-item" *ngFor="let items of category">
            <a routerLink="/question/{{items}}" class="text-capitalize">{{items}}</a>

        </ul>
      </div>
    </div>

    <div class="card mt-4 login-form">
        <div class="card-body">
          <h5 class="card-title">Add Category</h5>
          <form  >
              <div class="form-group">

                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="title" placeholder="Add Category">
              </div>
              <button type="submit" class="forward btn-block" >ADD</button>
              </form>
        </div>
      </div>

  </div>

</div>

<div #target></div>

<div *ngIf="isAuthenticate">


  <div class="card mt-5 ">
    <div class="card-body">
      <h2 class="text-capitalize">Enter your question for {{currentRoute}}</h2>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label for="exampleFormControlInput1" class="text-bold">Question</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="title" placeholder="Enter you question" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea2" class="text-bold">Answer</label>
          <textarea [froalaEditor] formControlName="description" required  id="exampleFormControlTextarea2"></textarea>
        </div>

        <button type="submit" class="forward" [disabled]="!myForm.valid">Submit</button>
        <button type="reset" class="forward">Clear</button>
      </form>
    </div>
  </div>
</div>

