<div class="card p-20">
<h2>About Us</h2>
  <p>Programming has always been at our heart and so has been the desire to share the knowledge gained through our academics
    and professional career.</p>
  <p>So there was a need for a platform where we can share our knowledge and ideas with the other learners and hustlers out
    there. </p>
  <p>Through this web portal , we intend to share our programming experiences and connect with the
    amazing community out there.</p>
  <p>We believe that in sharing lies the key to learning. The fact that you are sharing content out over the internet makes
    you even more responsible for learning it first and putting the right thing out.</p>
  <p>We primarily focus on emerging tech in web technologies and solutions to other challenging problems.</p>

<h2>Level Up Your Software Development Career</h2>
<p>I help other developers find better jobs and improve their leadership skills in the jobs that they currently have. Why hire a career coach? Career coaches provide career advice and training services to guide you in your job search, coach you in management and provide coaching for the journey of entrepreneurship.</p>


<p>I offer a variety of career coaching, and training options:</p>

<ul>
    <li>career coach for training; become a better developer</li>
    <li>career coach for job search; advice for your job search strategy, get awesome jobs in the technology industry</li>
    <li>tech career coaching for  implement Agile development methodologies</li>
    <li>tech career coaching for entrepreneurship; advice for building and growing your startup</li>
    <li>web development training in AngularJS</li>

        </ul>

</div>
