
  <div class="view cf">
      <header class="header">
        <p><strong>lorem ipsum doler</strong></p>
        <h1>Become a member</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam enim commodi, a, molestiae perferendis adipisci.</p>
      </header>
      <span class="error" *ngIf="error">{{ error }}</span>
      <section class="social-login">
        <div class="btn l-google" (click)="loginGoogle()">sign up using google +</div>
        <div class="btn l-facebook"  (click)="loginFb()">sign up using facebook</div>
        <div class="btn l-twitter"routerLink="/signup" >sign up using email</div>
      </section>

      <section class="email-login">
        <p>You can also sign in using an emailadres</p>
        <a routerLink="/login-email">use your email <i>&#8594;</i></a>
      </section>

      <div class="cover-img"></div>
    </div>
