
<div class="container mt-5 login-form ">

  <div class="row">

    <div class="col-md-10 offset-md-1">
      <div class="row">


        <div class="col-md-7 bg-white p-5 ">

          <form [formGroup]="myForm" (ngSubmit)="emailLogin(myForm)" *ngIf="!switchForget" autocomplete="off">
            <h3 class="mb-4"> Using your account</h3>
            <div class="form-group">

              <input type="text" autocomplete="off" name="email" class="form-control" placeholder="Email" formControlName="email" required >
            </div>
            <div class="form-group ">

              <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" required>
            </div>

            <div class="form-group d-flex justify-content-end mt-4">
              <div class="mr-auto">
                <button type="submit" tabindex="0" class="forward" [disabled]="!myForm.valid">Login</button>
              </div>
              <div class="">
                <button type="button" tabindex="0" class="btn btn-link legal" (click)="toggleSwitch()">Forgot password?</button>
              </div>
            </div>
            <hr/>
            <p class="small">Not yet a member?
              <a routerLink="/signup">Sign up now</a>
            </p>

          <div class="row margin-bottom-1x">
            <div class="col-xl-4 col-md-6 col-md-4"><a class="btn btn-sm btn-block facebook-btn"  href="javascript:void(0)" (click)="loginFb()">Facebook login</a></div>
            <div class="col-xl-4 col-md-6 col-md-4"><a class="btn btn-sm btn-block twitter-btn" href="javascript:void(0)">Twitter login</a></div>
            <div class="col-xl-4 col-md-6 col-md-4"><a class="btn btn-sm btn-block google-btn" href="javascript:void(0)" (click)="loginGoogle()">Google+ login</a></div>
          </div>
          </form>
          <form autocomplete="off" class="forms_form" [formGroup]="myForm" (ngSubmit)="forgetPassword(myForm)" *ngIf="switchForget">
            <h3 class="mb-4">Forgot your password?</h3>
            <p class="small">Enter your email address, and we'll send you an email with a link to reset your password.</p>
            <div class="form-group">
              <input type="email" name="email" placeholder="Register Email" class="forms_field-input" formControlName="email" required autofocus />
            </div>
            <div class="form-group d-flex justify-content-end mt-4 ">
              <div class="mr-auto">
                <button type="submit" tabindex="0" class="forward" [disabled]="!myForm.valid">Reset </button>
              </div>
              <div class="">
                <button type="button" tabindex="0" class="btn btn-link" (click)="toggleSwitch()">Login</button>
              </div>
            </div>

          </form>
        </div>
        <div class="col-md-5 text-white p-5  bg-brand ">
          <p class="text-center" *ngIf="switchForget"><img class="mb-3" src="../../../assets/reserve_bg.svg"></p>
          <p class="text-center" *ngIf="!switchForget"><img class="mb-3" src="../../../assets/review_bg.svg"></p>
          <h3 class="mb-4">Use other accounts</h3>
          <p>You can also sign in using your Facebook Account or Google Account</p>
          <!-- <h2 class="">
              <i class="fa fa-facebook-official fb" aria-hidden="true"></i>
               <i class="fa fa-google-plus-square google" aria-hidden="true"></i>

          </h2> -->

        </div>
      </div>

    </div>

  </div>
</div>
