<!--
<section class="user  mt-5 pt-5">
    <div class="user_options-container">
      <div class="user_options-text">
        <div class="user_options-unregistered">
          <h2 class="user_unregistered-title">Don't have an account?</h2>
          <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
          <button class="user_unregistered-signup" id="signup-button" >Sign up</button>
        </div>

        <div class="user_options-registered">
          <h2 class="user_registered-title">Have an account?</h2>
          <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
          <button class="user_registered-login" id="login-button" routerLink="/login-email">Login</button>
        </div>
      </div>

      <div class="user_options-forms bounceLeft" id="user_options-forms">
        <div class="user_forms-login">
          <h2 class="forms_title">Login</h2>
          <form class="forms_form">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" required />
              </div>
            </fieldset>
            <div class="forms_buttons">
              <button type="button" class="forms_buttons-forgot">Forgot password?</button>
              <input type="submit" value="Log In" class="forms_buttons-action">
            </div>
          </form>
        </div>
        <div class="user_forms-signup">
          <h2 class="forms_title">Sign Up</h2>
          <form class="forms_form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="text" placeholder="Full Name" class="forms_field-input" formControlName="name" required />
              </div>
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" formControlName="email" required />
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" formControlName="password" required />
              </div>
            </fieldset>
            <div class="forms_buttons">
              <input type="submit"  value="Sign up" class="forms_buttons-action" [disabled]="!myForm.valid">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

-->

  <div class="container mt-5 login-form" >
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="row">
              <div class="col-sm-7 bg-white p-5">
                  <h3 >Please fill with your details</h3>
                  <form class="mt-4" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                      <div class="form-group">

                        <input type="text" class="form-control"  placeholder="Full Name" formControlName="name" required>
                      </div>
                      <div class="form-group">

                        <input type="email" class="form-control" placeholder="Email" formControlName="email" required >
                      </div>
                      <div class="form-group">

                          <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        </div>
                      <button type="submit" class="forward mt-4" [disabled]="!myForm.valid">Submit</button>
                     <hr/>
                       <p class="small">Already have an account?
                          <a routerLink="/login">Sign in</a>
                        </p>
                    </form>
              </div>
              <div class="col-sm-5 leftCol p-5 text-center order-sm-first">
                  <img class="mb-3" src="../../../assets/registration_bg.svg">
                  <h2>Registration</h2>
                  <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque
                    an per, lucilius pertinacia eu vel.</p>
                </div>
            </div>

          </div>

        </div>
      </div>
