/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
body {
  padding-top: 54px;
  background: #f1f1f1 !important;
}
*{
  transition: all .2s ease;
}
.invalid-feedback
{
  display: block !important;
}
.card{

border-radius: 0 !important;
}
.card-body {
    padding: 40px !important;
}
.card-footer {

  border-top: 0 !important;
}
.fr-wrapper{
  min-height: 200px;
}
.fr-wrapper a[href*="https://www.froala.com/wysiwyg-editor"] {
display: none !important;
}
.login-form .leftCol {
  background: #F60;
  background: linear-gradient(135deg, #fd771f 0%, #F60 100%);
  color: #fff;
}
.login-form .bg-white {
  background-color: #fff;
}
.login-form input ,.login-form  textarea.form-control{
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 100%;
  border-bottom: 2px solid #e8ebed;
  padding: 6px 20px 6px 0;
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-radius: 0;
}
.login-form input:focus , .login-form  textarea.form-control:focus{

      border-color: #777;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #555;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;

}
 button.forward  {
  padding: 10px 30px 10px 20px;
}
button.forward:disabled{
  opacity:0.3;
  cursor: not-allowed;

}
  button.forward {
  border: none;
  color: #fff;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  outline: 0;
  text-align: center;
  background: #057fe0;
  background: linear-gradient(135deg, #05c8e0 0%, #057fe0 100%);
  position: relative;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 30px;
}
 button.forward:hover
{
  background: #057fe0;
  background: linear-gradient(135deg, #04b2c7 0%, #0471c7 100%);
}
.bg-brand{
  background: #409fff ;
  background: linear-gradient(135deg, #05c8e0 0%, #057fe0 100%);
}
.legal{
  font-size: 12px !important;
}
.google{
  color: #d15141;
}
.fb{
  color:#3b5998;
}
.text-white{
  color: #fff;
}
.border-r-dash{
  border-left:2px dashed #EEEEEE;
}
@media only screen and (max-width:769px)
{
  .border-r-dash{
    border-left:0;
    border-top:2px dashed #EEEEEE;

  }
}
.img{
  max-width: 60% !important;
}

.img-box > i {
  top: 10px;
  right: 10px;
  position: absolute;
  background: #54A7FF;
  padding: 10px;
  color: #fff;
  border-radius: 100%;
}
.bg-border{

  border-top:3px solid #057fe0;
}
.facebook-btn {
  border-color: #3b5998;
  background-color: #3b5998;
  color: #fff;
}
.facebook-btn, .twitter-btn, .google-btn {
  text-transform: none;
}
.facebook-btn>i, .twitter-btn>i, .google-btn>i {
  margin-top: 0;
}
.socicon-facebook:before {
  content: "\e041";
}
.btn-sm {
  padding: .375rem .75rem !important;
}
.btn-block {
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-right: 0 !important;
  margin-bottom: 12px;
  margin-left: 0 !important;

}
.facebook-btn {
  border-color: #3b5998 !important;
  background-color:transparent;
  color: #3b5998;
}
.twitter-btn {
  border-color: #55acee !important;
  background-color:transparent;
  color: #55acee;
}
.facebook-btn:hover {
  background-color: #3b5998;
  color: #fff;
}
.twitter-btn:hover {
  background-color: #55acee;
  color: #fff;
}
.google-btn {
  border-color: #dd4b39 !important;;
  background-color:transparent;
  color: #dd4b39;
}
.google-btn:hover {
  border-color: #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
.text-bold{
font-weight: bold;
}

 pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  border: #E3EDF3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}
